@import 'atom-one-dark';

* {
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility !important;
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  color: #333;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: 1.8;
  padding: 0;
  margin: 0;
}

article, .content {
  max-width: 700px;
  padding: 0 16px;
  margin: auto;
}

article {
  padding-top: 50px;
  padding-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  break-inside: avoid;
}

h1 {
  position: relative;
  font-size: 50px;
  margin-bottom: 1em;
  margin-top: 2em;
  padding: 50px 0;
  color: #fff;
  text-align: center;
  page-break-before: always;
}

h2 {
  margin-top: 100px;
  font-size: 40px;
  text-align: center;
}

h2::after {
  content: "";
  display: block;
  height: 0;
  width: 80px;
  margin: 16px auto 20px;
  border-bottom: 2px solid #bbb;
}

h3 {
  font-size: 1.5em;
  line-height: 1.25;
  margin-top: 1.5em;
}

h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {
  margin: 0;
}
img {
  max-width: 100%;
  border-radius: 3px;
}
p {
  margin: 0 0 1.5em;
}
a {
  color: #999;
  text-decoration: underline;
}
a:focus, a:hover {
  color: #666;
}
blockquote {
  margin: 1.5em;
  margin-left: 0;
  padding-left: 1.5em;
  color: #666;
  border-left: solid 4px #999;
}
strong, dfn {
  font-weight: bold;
}
em, dfn {
  font-style: italic;
}
del {
  color: #666;
}
pre {
  margin: 1.5em 0;
  white-space: pre;
}
pre, code, tt {
  font: 1em Menlo, Consolas, 'DejaVu Sans Mono', 'Courier New', 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}
li ul, li ol {
  margin: 0;
}
ul, ol {
  margin: 0 3em 1.5em 1.5em;
  padding-left: 1.5em;
}
ul {
  list-style-type: disc;
}
ol {
  list-style-type: decimal;
}
figure {
  margin: 1.5em 0;
  width: 100%;
  text-align: center;
}
figcaption {
  font-size: 0.75em;
  padding: 0.5em 2em;
  margin-bottom: 2em;
}
figure img {
  margin-bottom: 0;
}
code {
  font-family: Menlo, monospace;
  font-size: 90%;
}
p> code {
  padding: 0.2em 0.4em;
  background: #e1e9ed;
}
pre code {
  text-align: left;
  overflow-x: auto;
  padding: 10px 13px !important;
  border-radius: 3px;
  display: block;
}
hr {
  border: 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  margin-top: 4em;
  margin-bottom: 2em;
}
h1+ hr {
  margin-top: 2em;
}
ol#footnotes {
  font-size: 0.75em;
  padding-top: 1.5em;
  margin-top: 3em;
  margin-left: 0;
}
ol#footnotes:before {
  content: "";
  display: block;
  width: 30px;
  height: 1px;
  background: #333;
  margin-left: -1.5em;
}
ol p, ul p {
  margin-bottom: 0px;
}
li {
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}
@keyframes highfade {
  0% {
    background-color: none;
  }
  20% {
    background-color: yellow;
  }
  100% {
    background-color: none;
  }
}
@-webkit-keyframes highfade {
  0% {
    background-color: none;
  }
  20% {
    background-color: yellow;
  }
  100% {
    background-color: none;
  }
}
a:target, ol#footnotes li:target, sup a:target {
  animation-name: highfade;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: highfade;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}
a:target {
  border: 0;
  outline: 0;
}

footer {
  .content {
    padding: 32px 16px;
    border-top: 1px solid #eee;
  }
}

header {
  position: relative;
  padding: 0;
  color: #fff;
  background-color: #333;

  .header-image {
    z-index: 0;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    background-size: cover;
    background-position: center;
  }

  .header-overlay {
    background: rgba(0,0,0,0.2);
    z-index: 1;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
  }

  nav {
    position: relative;
    z-index: 100;
    background: rgba(0, 0, 0, 0.3);
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  h1 {
    z-index: 100;
    padding: 100px 0;
    margin: 0;
  }

  a, a:visited {
    color: #fff;
    display: inline-block;
    line-height: 50px;
    padding: 0 10px;
    margin: 0;
    text-decoration: none;

    &:hover, &.active {
      color: #fff;
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    }
  }
}