<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{excerpt}}">
    <meta name="google-site-verification" content="sbUBxZ59UvSsHOTaezjh-mTkueESgyvZWNcVQ3jZiwM" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
</head>
<body>

<header>
    <div class="content">
        <a href="/" class="active">Blog</a>
        <a href="https://twitter.com/leolabs_org" target="_blank">Twitter</a>
        <a href="https://medium.com/@leolabs" target="_blank">Medium</a>
        <a href="https://github.com/leolabs" target="_blank">GitHub</a>
        <a href="https://500px.com/leolabs" target="_blank">500px</a>
        <a href="https://open.spotify.com/user/leolabs" target="_blank">Spotify</a>
    </div>
</header>